@import "layerstack-meta";

.layer-info {
    color: #444;  
    
    $leafcolor:     #a5d6a7;        
    $sliderMainColor: darken($leafcolor, 5%);

    .switch {
        border-color: $sliderMainColor;
        background-color: #fff;        
    }

    .bar-bg {    
        background-color:#f8f8f8;    
    }

    .ping1 {        
        background-color: #ccc;
    }
}
