@import "layerstack-meta";

.layer-info {
    color: #777;

    .switch {
        border-color: #555;
        background-color: #222;        
    }

    .bar-bg {
        background-color:#2b2929;
    }
}
 