.layer-info.data {
    bottom:1em;
}
.layer-info.nav {
    top:1em;
}
.layer-info {
    //z-index: 3;
    position: absolute;
    right:-2.5em;
    
    width:15em;
    padding-right:.3em;
    padding-bottom:.1em;    
    font-size: .8em;

    display: grid;
    grid-template-rows: repeat(20, auto);
    grid-template-columns: auto auto 1.95em 1.7em;//repeat(4, auto);
    //grid-template-rows: repeat(10, 1fr);
    grid-gap: .0em;

    .switch {
        height: 1.5em;
        width: 1.5em;
        border-radius: .75em;        
        border-width: 1px;
        border-style: solid;        
        cursor: pointer;
        z-index: 100;
        margin-left: .08em;         
    }

    .label {
        text-transform: capitalize;
    }

    div   { 
        align-self: end; 
        margin-bottom: -.1em; 
        margin-left: 0em; 
    }
    
    .q {
        justify-self: end; 
        margin-right: .35em; 
    }
   
    .bar-bg {
        height:.25em;        
        margin-bottom: .15em;
        grid-column: 1 / 5;        
        .bar {
            height:.25em;
            position: absolute;
        }
    }
}
 