@import "layerstack-meta";

$headercolor: #252526;

.layer-info {
    color: #777;

    .switch {
        border-color: #555;
        background-color: $headercolor;        
    }

    .bar-bg {
        background-color:#2b2929;
    }

    .ping1 {        
        background-color: #666;
    }
}
 