@import "unitdisk";

$leafcolor:     #a5d6a7; //"#e3f2fd" "#ffe082
$hovercolor:    #64b5f6; //#65f;
$selectedcolor: orange;
$rootcolor:     #ffeb3b; //#e53935; //#e53935; //"#e3f2fd" "#ffe082
$exitcolor:     #ce93d8; //"#e3f2fd" "#ffe082
$lazycolor:     #e53935; //"#e3f2fd" "#ffe082
$w:             #fff;
$nodeStroke:    #90caf9;

.unitdisk-nav {

    svg {
        //filter:drop-shadow(0px 1px 1.5px rgba(0,0,0,0.22));

        .cell {
            /*stroke: rgba($leafcolor, .25);            
            fill: rgba($leafcolor, .2);
            stroke-width: 0.0013;*/

            stroke: rgba(#fff, 0);            
            fill: rgba(#fff, 0);
            stroke-width: 0.0013;
        }
        .arc {
            stroke: #bf875f; // #b77d68; //#8d6e63;
            fill: none;            
        }
        .arc-focus {
            stroke: rgba($hovercolor, .35); 
            fill: none;
        }
        .node {
            fill: #a5d6a7;
            stroke: #5eb561;
            //stroke-width: .002;
            stroke-width: 0;
        }       
        .caption {  
            paint-order:stroke;
            stroke: rgba(#fff, .7);
            stroke-width: .005;
            stroke-linecap: butt;
            stroke-linejoin: miter;
            font-weight: 400;
        }
        .caption-background {
            fill: #e7e7e7;
            opacity: .7;         
        }

        .label-link {
            stroke: #eee;
        }
        
        //.cell.leaf      { stroke: rgba($leafcolor, .25);             fill: rgba(lighten($leafcolor, 0%), .03);    }

        .root           { stroke: darken($rootcolor, 15%);           fill: lighten($rootcolor, 5%);               }
        .root.cell      { stroke: rgba(darken($rootcolor, 0%), .9);  fill: rgba(lighten($rootcolor, 0%), .05);    }
        .root.node      { stroke: orange;                                                                       }

        .lazy           { stroke: darken($lazycolor, 15%);           fill: lighten($lazycolor, 5%);               }
        .lazy.cell      { stroke: rgba(#fff, 1);                   fill: rgba(#2196f3, 0.08);            }
        .lazy.node      { stroke: rgba(darken($lazycolor, 20%), .5);                                              }

        .exit           { stroke: darken($exitcolor, 15%);           fill: lighten($exitcolor, 5%);               }
        .exit.cell      { stroke: rgba(darken($exitcolor, 95%), .9); fill: rgba(lighten($exitcolor, 0%), .05);    }
        .exit.node      { stroke: rgba(darken($exitcolor, 50%), .5);                                              }
 
        //.hovered        { stroke: $hovercolor;                       fill: lighten($hovercolor, 25%);             }
        .hovered.arc    { stroke: $hovercolor;                                                           }
        .hovered-path.arc { stroke: rgba($hovercolor, .2);                                        }
        .hovered-path-nav.arc { stroke: rgba(red, 1); }
        //.hovered.cell   { stroke: lighten($hovercolor, 27%);         fill: rgba(lighten($hovercolor, 0%), .15);   }
        .hovered.node   { stroke: darken($hovercolor, 10%);                                                       }
 
        //.selected       { stroke: $selectedcolor;                    fill: lighten($selectedcolor, 25%);          }
        .selected.arc     { stroke: $selectedcolor;                                                                }      
        .selected-path.arc { stroke: rgba($selectedcolor, .2);       stroke-opacity: .3;                           }
        //.selected-path-nav.arc { stroke: rgba($selectedcolor, 1);                                                       }
        .selected.cell  { stroke: rgba($selectedcolor, .2);          fill: rgba(lighten($selectedcolor, 0%), .1); }
        .selected.node  { stroke: darken($selectedcolor, 5%);                                                     }

        .center-node {
            fill: rgba(#000, .25);
            opacity: .5;
        }
        .background-circle {
            fill-opacity: .5;
        }
        .mouse-circle {
            fill: none;
        }
        .focus-circle {        
            fill:none;
            stroke: darken($nodeStroke, 25%);
            stroke-width: .0005;
        }

        .nav-parameter-disc {
            .node {
                fill: rgba(255, 255, 255, 1); //fill: #BBDEFB;
                stroke-width: .015;
                stroke: darken($leafcolor, 5%);
            }
            .node:first-child {
                fill:rgba(255, 255, 255, .15);
                stroke: darken($nodeStroke, 25%);
                stroke-width: .003;
            }
            .cell {
                stroke: #999;
                fill: none;
            }
            .caption {
                fill: #666; 
            }
            .caption.P {                
                fill: #666;
            }
            .caption-background {
                visibility: hidden;
            }
            .background-circle {                
                fill: none;
                stroke: none;
            }
            .mouse-circle {
                fill: none;
                stroke: none; //$nodeStroke;                
            }
        }

        .nav-background-disc {
            .label-big {
                stroke-width: .015;
                font-weight: 100;
                fill: rgba(#000, 1)
            }
            .hovered-path-nav.arc {
                stroke: red; 
            }
            .arc {
                stroke: #aaa; // #b77d68; //#8d6e63;                
            }
        }
    }
}

