.render-info.data {
    bottom:1em;
}
.render-info.nav {
    //top:1em;
    bottom:25em;
}
.render-info {
    z-index: 1000;
    position: absolute;    
    left:1em;    
    width:18em;
    padding-left:.3em;
    padding-bottom:.1em;    
    font-size: .8em;

    display: grid; 
    grid-row-gap: 2px;
    //grid-column-gap: 3px;
    //grid-template-rows: repeat(8, auto);
    grid-template-columns: 5em auto auto auto auto auto;

    .slider {
        position: relative; 
        z-index: 102;
        height: 1em;
    }

    div {
        .range-field {
            margin: 0;
        }

        input {            
            margin-top: .0em;
            margin-bottom: 0px;        
            border: none;
        }

        input[type=range]::-webkit-slider-thumb {
            -webkit-appearance: none;            
            height: 1.5em;
            width: 1.5em;
            border-radius: .75em;            
            cursor: pointer;
            margin-top: -.9em; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */                                    
        }

        /*input[type=range]::-webkit-slider-thumb::before { 
            content: "Read this: ";
        }*/

        input[type=range]::-webkit-slider-runnable-track {
            cursor: pointer;
         //   background: none; // $sliderMainColor;
        }
        
        input[type=range] + .thumb {
            z-index: 101;
        }
    }

    div   { align-self:   end; margin-bottom: -.1em; margin-left: 0em; }    
    .q    { justify-self: end; margin-right: .0em; }
    .qmax { justify-self: end; margin-right: .0em; }
    .info {        
        background-color: #666;
        width: 3px;
        height: 100%;
        grid-row: auto / span 2;
        margin-left: 3px;
    }
    .info2{        
        background-color: none; // #fff;
        width: 1px;        
        height: 100%;
        grid-row: auto / span 2;
    }

    .info-1 {        
        background-color: none; // #666;
        width: 100%;
        height: 100%;
        grid-row: auto / auto;
    }
    .info2-1{        
        background-color: none; // #fff;
        width: 100%;
        height: 100%;
        grid-row: auto / auto;
    }

    .bar-bg {
        height:.25em;
        grid-column: 1 / 5; 
        position: relative;        
        overflow: hidden;
        .bar {
            height:.25em;            
            position: absolute;
        }
    }
}