@import 'unitdisk-meta'; 

.render-info {
    color: #000; //rgba(darken(#a5d6a7, 30%), .6);

    div {
        
        $leafcolor:     #a5d6a7;        
        $sliderMainColor: darken($leafcolor, 5%);

        input[type=range]::-webkit-slider-thumb {            
            border: 1px solid $sliderMainColor;
            background: #fff;            
        }

        input[type=range]::-webkit-slider-runnable-track {         
            background: #ddd;            
        }
        
        input[type=range] + .thumb {
            background-color: darken($leafcolor, 0%); //#eee;
                        
            .value {
                color: #fff; 
                font-weight: 500; 
            }
        }        
    }

    .info {
        background-color:#ccc;
    }

    .bar-bg {
        background-color:#f8f8f8;        
        div {
            opacity: .75;
        }
    }

    .hist {        
        div {           
            background-color: #ddd;// #272727;    
        }
    }
}