.render-info.data {
    bottom:1em;
}
.render-info.nav {
    //top:1em;
    bottom:35em;
}
.render-info {
    z-index: 1000;
    position: absolute;    
    left:1em;    
    width:20em;
    padding-left:.3em;
    padding-bottom:.1em;    
    font-size: .8em;

    display: grid; 
    grid-row-gap: 4px;
    //grid-column-gap: 3px;
    //grid-template-rows: repeat(8, auto);
    grid-template-columns: 4.4em auto auto auto auto .5em auto;

    .slider {
        position: relative; 
        z-index: 102;
        height: 1em;
        margin-left: .15em;
        padding-right: .1em;
        grid-column: auto / span 2;
    }

    div {
        .range-field {
            margin: 0;
        }

        input {            
            margin-top: .0em;
            margin-bottom: 0px;        
            border: none;
        }

        input[type=range]::-webkit-slider-thumb {
            -webkit-appearance: none;            
            height: 1.2em;
            width: 1.2em;
            border-radius: .75em;            
            cursor: pointer;
            margin-top: -.55em; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */                                    
        }

        /*input[type=range]::-webkit-slider-thumb::before { 
            content: "Read this: ";
        }*/

        input[type=range]::-webkit-slider-runnable-track {
            cursor: pointer;
            background: #262626;
            height: 1px;
        }
        
        input[type=range] + .thumb {
            z-index: 101;
        }
    }

    div   { align-self:   end; margin-bottom: .0em; margin-left: 0em; }   
    .nodes{
        grid-column: auto / span 2;        
    } 
    .q    { justify-self: end; margin-right: .0em; }
    .qmax { justify-self: end; margin-left: .0em; }

    .info {        
        background-color: #666;
        width: 3px;
        height: 100%;
        grid-row: auto / span 2;
        margin-left: 3px;
        opacity: 0;
    }

    .info2{        
        background-color: red; // #fff;
        width: 2px;        
        height: 100%;
        grid-row: auto / span 2;
        margin-left: 2px;
        opacity: 0;
    }

    @keyframes blink-out {
        from { opacity: 1; }
        to   { opacity: 0; }
        0%   { opacity: 1; }        
        100% { opacity: 0; }
    }

    .info-oneRowSpan {        
        background-color: none; // #666;
        width: 100%;
        height: 100%;
        grid-row: auto / auto;
    }
    .info2-oneRowSpan{        
        background-color: none; // #fff;
        width: 100%;
        height: 100%;
        grid-row: auto / auto;
    }

    .hist {
        grid-column: auto / span 2; 
        padding: .01em .15em .35em .3em;
        width: 100%;
        height: 100%;
        transform: scaleY(-1);

        div {
            float: left;            
            margin-right: 2px;
            width: .5em;
            background-color: #333;// #272727;    
        }
    }

    .bar-bg {
        height:.25em;
        grid-column: 1 / 6;         
        position: relative;        
        overflow: hidden;

        //margin-bottom: .25em;
        margin-top: -3px;

        .bar {
            height:.25em;            
            position: absolute;
        }
    }
    .bar-bg:last-child {
        margin-bottom: 0em;
    }
}