.render-info {
    z-index: 1000;
    position: absolute;
    left:1em;
    bottom:1em;
    width:18em;
    padding-left:.3em;
    padding-bottom:.1em;    
    font-size: .8em;

    display: grid; 
    grid-gap: .075em;
    grid-template-rows: repeat(10, auto);
    grid-template-columns: 5.4em auto auto auto .0em;;

    .slider {
        position: relative; 
        z-index: 102;
        height: 1em;
    }

    div {
        .range-field {
            margin: 0;
        }

        input {            
            margin-top: .0em;
            margin-bottom: 0px;        
            border: none;
        }

        input[type=range]::-webkit-slider-thumb {
            -webkit-appearance: none;            
            height: 1.5em;
            width: 1.5em;
            border-radius: .75em;            
            cursor: pointer;
            margin-top: -.9em; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */                                    
        }

        /*input[type=range]::-webkit-slider-thumb::before { 
            content: "Read this: ";
        }*/

        input[type=range]::-webkit-slider-runnable-track {
            cursor: pointer;
            background: none; // $sliderMainColor;
        }
        
        input[type=range] + .thumb {
            z-index: 101;
        }
    }

    div   { align-self:   end;    margin-bottom: -.1em; margin-left: 0em; }    
    .q    { justify-self: end;    margin-right: .09em; }
    .qmax { justify-self: normal; margin-right: .0em; }
    .info { justify-self: end;    margin: auto 0; /*grid-column: 5;*/ font-size: 1em; }

    .bar-bg {
        height:.25em;        
        margin-bottom: .15em;
        grid-column: 1 / 6; 
        position: relative;
        .bar {
            height:.25em;            
            position: absolute;
        }
    } 
}