.unitdisk-nav {
    top:0;
    bottom:0;
    left:0em;
    right:0;
    position: absolute;       
    padding: .3em;

    .tool-bar {
        width: 3em;

        button {
            margin-top: .27em;
            padding:0;
        }
        .tool-seperator {
            margin-top: .6em;
        }
        .tool-active {
            background-color: #333;
        }
    }

    .path-bar {
        top:.8em;        
        right:-3.3em;
        position: absolute;       
    }

    svg {
        top:0;
        bottom:0;
        left:3em;
        right:0;
        position: absolute;   
    }

    > .preloader {
        width: 100%;
        height: 100%; 
        > .preloader-wrapper {
            position: absolute;
            left: calc(50% - 1em);
            top: calc(50% - 2.1em);
        }
    }

    #meta {        
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        
        .carousel {            
            width: 17em;
            top: unset;
            
            bottom: .5em;
            position: absolute;
            z-index: 1000;

            .indicators {
                margin-right:1em;
                line-height: .5em;
                .indicator-item{
                    margin: 0px 2px;
                }
            }
        }

        .left.carousel {
            height: 18.5em !important;
            left: 1em;
        }
        .right.carousel {
            height: 38em !important;
            left: calc(100% - 11em);
        }
    }
}

#path {    
    font-size: .75em;    
    max-width: 50%;
    word-spacing: .3em;
}

.absolute-center {
    margin: auto;
    position: absolute;
    left: 7em; bottom: .7em; right: 0;
    text-align: center;
}